<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Início</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Histórico</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="map"></ion-icon>
      <ion-label>Comunidade</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="report">
      <ion-icon name="about"></ion-icon>
      <ion-label>Reportar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- 
<ion-content [fullscreen]="true">

</ion-content> -->
